<html>
	<head>
		<script type="text/javascript" src="style/bootstrap.js"></script>
		<link rel="stylesheet" href="style/bootstrap.css">
		<link rel="stylesheet" href="style/style.css">
		<title>
			SDNRecon Scanning Report
		</title>
	</head>
	<body>
		<div id="main_div">
			<div id="header_div">
				<div id="logo_div">
					<p id="logo_text"><img id="logo" src="style/logo.png" alt="Logo"> University of Information Technology </p>
				</div>
				<div id="title_div">
					<p id="title_text">SDNRecon Report</p>
				</div>
			</div>
			<div id="report_body">
			<!-- Host discovery Scan -->
				<div id="discovery_div">
					<p class="discovery_text">1. Host discovery</p>
					<p class="arpscan">ARP Scanner</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_arpscan.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_arpscan.iterrows() %}
        <tr>
            {% for colname in df_arpscan.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>		
					<p class="pingscan">Ping Scanner</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_pingscan.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_pingscan.iterrows() %}
        <tr>
            {% for colname in df_pingscan.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>
				</div>
			<!-- Port Probing -->
				<div id="port_probing">
					<p class="discovery_text">2. Port Probing</p>
					<p class="arpscan"> TCP SYN Port Scanner</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_portscan_tcpsyn.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_portscan_tcpsyn.iterrows() %}
        <tr>
            {% for colname in df_portscan_tcpsyn.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>

			<!-- Controller Detect -->
				<div id="controller_detect">
					<p class="discovery_text">3. Controller Detector</p>
					<p class="arpscan"> Multi-Controller Detector</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_controller_multi.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_controller_multi.iterrows() %}
        <tr>
            {% for colname in df_controller_multi.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>
					<p class="pingscan">Controller Detection Based on LLDP Packets</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_controller_lldp.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_controller_lldp.iterrows() %}
        <tr>
            {% for colname in df_controller_lldp.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>
					<p class="pingscan">Controller Detection Based on Northbound Interface</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_controller_northbound.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_controller_northbound.iterrows() %}
        <tr>
            {% for colname in df_controller_northbound.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>
				</div>
			<!-- SDN Rule Reconstruct -->
				<div id="rule_reconstructor">
					<p class="discovery_text">4. SDN Rule Reconstructor</p>
					<p class="arpscan">SDN Rule Reconstruction Based on ICMP</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_rule_icmp.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_rule_icmp.iterrows() %}
        <tr>
            {% for colname in df_rule_icmp.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>
	
					<p class="pingscan">SDN Rule Reconstruction Based on TCP</p>
					<div class="table-responsive">
					    <table class="table table-bordered">
        <tr>
            {% for column in df_rule_tcp.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df_rule_tcp.iterrows() %}
        <tr>
            {% for colname in df_rule_tcp.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
	</div>
	
				</div>
			</div>
			<p style="font-weight:bold; font-size: 30px; text-align:center">The End!!!</p>
		</div>
		 
	</body>
</html>
