#logo {
	width: 100px;
	height: 82.5px;
}
#logo_text {
	color: #376bb4;
	font-weight: bold;
	font-size: 25px;	
}
#header_div {
	margin-top: 5px
}
#logo_div {
	text-align: center;
	padding: 15px
}
#main_div {
	width: 100%
}
#title_text {
	font-weight: bold;
	font-size: 30px
}
#title_div {
	text-align: center
}
.discovery_text {
	font-weight: bold;
	font-size: 20px
}
.arpscan {
	font-weight: bold;
	font-size: 18px;
	margin-top:-15px;
	margin-left: 10px
}
.pingscan {
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px
}
#report_body {
	padding-left: 50px;
	padding-right: 50px
}